body {
}

.title-img {
    background-size: 28px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
}

.bg-gray {
    background-color:gray;
}

.btn-outline-write {
    border-color: #ffffff;
}
.slideimg {
    height:800px;
}
.font-dark {
    color:#000000
}
