body {
}

.title-img {
    background-size: 28px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
}

.bg-gray {
    background-color:gray;
}

.btn-outline-red {
    border-color: #55228f;
}
